nav.navbar {
  width: 100%;
  position: fixed; /* si quieres que esté fijo arriba */
  top: 0;
  left: 0;
  z-index: 1000; /* para que esté por encima de otros elementos */
}
.navbar a {
  color: rgb(248, 244, 244) !important; /* cambia el color de los enlaces */
}
.navbar a:hover {
  color: #e92020 !important; /* blanco al pasar el mouse */
}


/* Asegura que el html y body ocupen todo el alto */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor principal con flex vertical y 100vh */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* main crece y ocupa el espacio disponible */
.content {
  flex: 1;
}

/* Opcional: estilo básico para footer */
footer {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;  /* 50% del viewport */
  margin-right: -50vw;
  width: 100vw; /* ancho total del viewport */
  background-color: #222;
  color: white;
  padding: 1rem 0;
  box-sizing: border-box;
  text-align: center;
}
